h1 {
	text-align: center;
}
.tweet-container { 
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: rgb(205,205,205);
	
	margin: 0 auto;
	padding: 20px 20px;
}

div.tweet-list {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(205,205,205);
	padding: 0 0;
	/*margin: 120px 120px;*/
}

span.user {
	font-style: bold;
	color: #337ab7;
}

span.message-time {
	color: rgb(205,205,205);
}

div.message {

}

div.show-more {
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: rgb(205,205,205);
	display: none;
	padding: 7px 7px;
}

button.show-more {
	margin: 0 auto;
	display: block;
}

#user-modal .modal-header {
	text-align: center;
	border-bottom: hidden;
}